<div class="container">
  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <div class="level">
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-4 has-text-link" href="{{ .Site.BaseURL }}">Home</a>
        </p>
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-4 has-text-link" href="{{ "about/" | absURL }}">About</a>
        </p>
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-4 has-text-link" href="{{ "gigs/" | absURL }}">Gigs</a>
        </p>
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-4 has-text-link is-disabled">Pics</a>
        </p>
      </div>
      <div class="level">
        <p class="level-item has-text-centered">
          <a class="title is-5 has-text-link">Other Projects</a>
        </p>
        <p class="level-item has-text-centered">
          <a class="title is-5 has-text-link">Privacy</a>
        </p>
        <p class="level-item has-text-centered">
          <a class="title is-5 has-text-link">Copyright Info</a>
        </p>
      </div>
    </div>
  </div>
  <p class="has-text-centered has-text-light">&copy; 1982</p>
</div>