<div class="container">
  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <div class="level">
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-4 has-text-link" href="{{ .Site.BaseURL }}" title="Home">Home</a>
        </p>
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-4 has-text-link" href="{{ "about/" | absURL }}" title="About">About</a>
        </p>
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-4 has-text-link" href="{{ "gigs/" | absURL }}" title="Gigs">Gigs</a>
        </p>
      </div>
      <div class="level">
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-5 has-text-link" href="{{ "other-projects/" | absURL }}" title="Other Projects">Other Projects</a>
        </p>
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-5 has-text-link" href="{{ "privacy/" | absURL }}" title="Privacy">Privacy</a>
        </p>
        <p class="level-item has-text-centered is-ribbed">
          <a class="title is-5 has-text-link" href="{{ "copyright-info/" | absURL }}" title="Copyright Info">Copyright Info</a>
        </p>
      </div>
    </div>
  </div>
  <p class="has-text-centered has-text-light">&copy;1982</p>
</div>