@charset "utf-8";

@font-face {
  font-family: 'Comic Sans MS';
  src: url("../fonts/comici.ttf");
}

$black: hsl(0, 0%, 4%);
$true-magenta: #ff00ff;
$true-link-blue: #0000ee;
$comic-sans: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive,sans-serif;

$true-magenta-invert: findColorInvert($true-magenta) !default;
$custom-colors: (
    "true-magenta":($true-magenta, $true-magenta-invert)
);

$link: $true-link-blue;
$body-background-color: $black;
$body-size: 18px;
$footer-background-color: transparent;
$footer-padding: 3rem 1.5rem 3rem;
$dimensions: 16 24 32 48 64 96 128 240;
$title-color: $true-magenta;
$mobile-large: 426px;

%ribbed-containers {
  border: 6px ridge;
}

@import "~bulma/bulma";
@import "custom";