<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "MusicGroup",
    "@id": "{{- .Site.BaseURL -}}",
    "name": "1982",
    "url": "{{- .Site.BaseURL -}}",
    "logo": "{{- "img/banner-logo.png" | absURL -}}",
    "description": "{{- .Site.Params.description -}}",
    "address" : {
      "@type" : "PostalAddress",
      "addressLocality" : "Brussels",
      "addressCountry" : "Belgium"
    },
    "sameAs": [
      "https://www.facebook.com/1982-band-RIP-58819456659/",
      "https://myspace.com/the1982"]
  }
</script>