<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "MusicGroup",
    "@id": "{{- .Site.BaseURL -}}",
    "name": "1982",
    "url": "{{- .Site.BaseURL -}}",
    "logo": "{{- "img/nineteeneightywo.jpg" | absURL -}}",
    "description": "{{- .Site.Params.description -}}",
    "address" : {
      "@type" : "PostalAddress",
      "addressLocality" : "Brussels",
      "addressCountry" : "Belgium"
    },
    "sameAs": [
      "https://www.facebook.com/1982.band/",
      "https://myspace.com/the1982"]
  }
</script>