{{ define "main" }}
<section class="section" style="padding-top:0;">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-quarters">
        <div class="coming-soon">
          <img src="{{ "img/coming-soon.png" | relURL }}" class="blink" alt="Blinking coming soon sign">
        </div>
        <h2 class="title is-2 has-text-centered" style="text-decoration: underline;">Listen To Our Music Here Soon!</h2>
        <div class="coming-soon" style="margin-bottom: 0;">
          <img src="{{ "img/MusicN.gif" | relURL }}" alt="Music notes flying">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
