{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="coming-soon">
          <img src="{{ "img/coming-soon.png" | relURL }}" class="blink" alt="Blinking coming soon sign">
        </div>
        <h2 class="title is-2 has-text-centered" style="text-decoration: underline">Listen To Our Music Here Soon!</h2>
        <div class="coming-soon">
            <img src="{{ "img/MusicN.gif" | relURL }}" alt="Music notes flying">
          </div>
        <!--
          {{ range .Site.AllPages }}
          {{/* The context, ".", is now each one of the pages as it goes through the loop */}}
          {{ printf "%#v" .Permalink }}
          {{ end }}
        -->
      </div>
    </div>
  </div>
</section>
{{ end }}
